body{
    margin: 0px;
    padding: 0px;
}
h1{
    color: orange;
    text-align: center;
}
.CuadroCentral{
    display: flex;
    justify-content:center;
    align-items: center;
}
.CuadrodeAdentro{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
